<header class="header">
    
    <div class="logo"></div>
    <div class="profile-access"> 
		<div class="profile-access__image"></div>
		<p class="profile-access__name">Joueur 1</p>
    </div>

</header>