<header class="header">

    <div class="logo">Shiritori</div>
    <div class="profile-access">

		<p class="profile-access__name"><%= current_player.username if current_player %></p>
    </div>

</header>
