<div class="home__container ">
	<h1 class="h1__title"> Connectez vous</h1>


	<form class="form spacing"> Pseudonyme  </form>

	<form class="form spacing"> email </form>

	<form class="form spacing"> Mot de passe  </form>

	<br><br><br>

	<button class="button:hover">
		Terminé
	</button>


</div>