<div id="vue-index">

	<div class="game__container" v-show="screen == 'game-lost'">
		<p class="xcenter">
			Vous avez perdu !
		</p>
	</div>

	<div class="game__container" v-show="screen == 'game-won'">
		<p class="xcenter">
			Vous avez gagné !
		</p>
	</div>

	<div class="game__container" v-show="screen == 'game-seeking'">
		<p class="xcenter">
			En attente de joueur...
			<span v-if="gameLink">
				Invitez un ami à rejoindre la partie :
				{{ gameLink }}
			</span>
		</p>
	</div>

	<div class="game__container" v-show="screen == 'game-game'">
		<div class="game-score__container myScore winning losing notPlaying">
			<p class="player">{{myName}}</p>
			<p class="score">{{myPoints}}</p>
		</div>

		<div class="game-board">
			<div class="game-board__error" v-show="status == 'playing'">
				<p v-if="yourTurn">
				À votre tour ! &Eacute;crivez un mot commençant par la lettre
				</p>
				{{firstLetter}}...
				 <p class="game-board__error__alreadyWritten" v-show="gameError == 'alreadyUsed'">
				 	Attention ! Ce mot à déjà été utilisé.
				 </p>
				 <p class="game-board__error__doesntExist" v-show="gameError == 'invalidWord'">
				 	Attention ! Ce mot n'existe pas.
				 </p>
				 <p class="game-board__error__doesntExist" v-show="gameError == 'notYourTurn'">
				 	Attention ! Ce n'est pas à vous de jouer.
					</p>
				 <p class="game-board__error__doesntExist" v-show="gameError == 'wrongFirstLetter'">
				 	Attention ! Votre mot doit commencer par la lettre {{ firstLetter }}
				 </p>
			 </div>

			 	<div class="game-board__error" v-show="status == 'forfeits'">
				 Votre adversaire a quitté la partie.
				</div>

			 	<div class="game-board__error"  v-show="status == 'won'">
				 Vous avez gagné !
				</div>

			 	<div class="game-board__error"  v-show="status == 'lost'">
				 Vous avez perdu !
				</div>

			 <div class="game-board__playBox" v-show="status == 'playing'">
				<div class="game-board__writtingBox"><input type="text" v-model="currentWord" @keyup.enter="playWord(currentWord)" v-bind:disabled="!yourTurn"></div>
				<div class="game-board__timer"><span v-if="yourTurn">{{ timer }}</span></div>
			</div>

			<div class="game-board__archive">
				<div :class="{'game-board__previousWord__adversary': word.by == 'opponent', 'game-board__previousWord__player': word.by == 'me'}" v-for="word in wordsReversed">
					{{ word.word }}
				</div>

			</div>
			<div class="game-board__abandon hvr-grow" style="cursor: pointer;" onclick="alert('Abandonner n\'est jamais une option.')" href="/">Abandonner ?</div>

		</div>

		<div class="game-score__container adversaryScore winning losing notPlaying">
			<p class="player">{{opponentName}}</p>
			<p class="score">{{opponentPoints}}</p>
		</div>
	</div>

<!-- ////// HOME ////// -->
<div class="home__container" v-show="screen == 'home'">
	<h1 class="h1__title"> Bienvenue sur Shiritori</h1>

	<div class="home__textContent">
		Pensez à un mot qui commence par la dernière lettre du mot de votre adversaire.
	</div>

	<% if !current_player %>
	<input type="text" v-model="myName" class="form" placeholder="Pseudonyme"/>
	<% else %>
	<script>
	window.guest_username = <%= current_player.username.to_json.html_safe %>;
	</script>
	<% end %>

	<button @click="screen = 'rules'">
		Règles du jeu
	</button>

	<button @click="goPublic()">
		Jouer en ligne
	</button>

	<button @click="goPrivate()">
		Jouer en ligne avec un ami
	</button>

	<button @click="goSolo()">
		Jouer contre l'ordinateur
	</button>

	<% if (!current_player) %>
		<%= link_to('Se connecter', new_player_session_path, :class => "subrepticement bloc") %>

		<%= link_to('Pas encore de compte ? Inscrivez-vous !', new_player_registration_path, :class => "subrepticement bloc") %>
	<% end %>

	<% if (current_player) %>
		<%= link_to('Se retirer du conclave', destroy_player_session_path, :method => :delete, :class => "subrepticement bloc") %>
	<% end %>
</div>

<!-- ////// RULES BOX ////// -->

<div class="home__container" v-show="screen == 'rules'">
	<h1 class="h1__title">Les règles du Shiritori</h1>

	<div class="rules__textContent">

		<h2 class="h2__title">
			Le déroulement
		</h2>

		Ceci est la version française de Shiritori.
		<br><br>
		Le premier joueur se voit attribuer une lettre au hasard. Il doit alors trouver un mot commençant par cette lettre dans un temps donné.
		<br><br>
		Les joueurs jouent ainsi chacun leur tour en se voyant attribué comme première lettre la dernière lettre du mot de l'adversaire.
		<br><br>
		<h2 class="h2__title">
			Les conditions
		</h2>

		Chaque mot doit :
		<br><br>
		- Être présent dans le dictionnaire.
		<br>
		- Être composé d'un minimum de 4 lettres.
		<br>
		- Ne doit pas déjà avoir été utilisé par l'un des joueurs au cours de la partie.
		<br><br>
		<h2 class="h2__title">
				Les points
		</h2>

		Les joueurs gagnent plus de points pour des mots plus longs et des temps plus courts :
		<br><br>
		Points de longueur : Nombre de lettres composant le mot moins 4.
		<br>
		Points de vitesses : Nombre de secondes restantes

	</div>

		<button @click="screen = 'home'">
		Retour à l'accueil
	</button>

</div>

<!-- ////// Mode Solo ////// -->

</div>
