


<div class="content-container">

	<div class="content player">
		
		<p> Quel est votre nom ? </p>
		<form>Nom Prénom</form>
		<button> Jouer </button>
		<button>Jouer en temps qu'invité </button>

	</div>
	
	<div class="content rules">
		<h2 class="rules__title">Règles du jeu</h2>
		
		<p class="rules__text">
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tempor, metus at pulvinar interdum, ante ipsum euismod nunc, nec ultricies dui nunc sit amet tortor. Proin vel malesuada felis. Nunc vel dignissim velit. Donec rhoncus, lacus tincidunt laoreet malesuada, odio erat ultricies leo, sed blandit sem lacus sed urna. Suspendisse nulla eros, euismod nec molestie vitae, feugiat pellentesque dolor.

		Suspendisse non diam sodales, euismod sapien non, sodales arcu. Aenean mollis pretium lectus nec pellentesque. Integer consequat interdum tortor non varius. Quisque maximus sodales ex consequat volutpat. Proin convallis massa dolor, ut mattis urna venenatis in. Fusce non orci ultrices tellus commodo dignissim in vitae massa. 
		</p>
	</div>

</div>

