<h1>Hellooola !</h1>

<div id="vue-index">

<!-- ////// HOME ////// -->
<div class="home__container" v-show="screen == 'home'">
	<h1 class="h1__title"> Bienvenue sur Shiritori</h1>

	<div class="home__textContent">
		Pensez à un mot qui commence par la dernière lettre du mot de votre adversaire.
	</div>

	<form class="form"> Pseudonyme </form>

	<button @click="screen = 'rules'">
		Règles du jeu
	</button>

	<button>
		Jouer en mode multi-joueur
	</button>

	<button>
		Jouer en mode solo
	</button>
</div>

<div class="home__container" v-show="screen == 'login'">
	<h1 class="h1__title"> Connectez vous</h1>


	<form class="form spacing"> Pseudonyme  </form>

	<form class="form spacing"> email </form>

	<form class="form spacing"> Mot de passe  </form>

	<br><br><br>

	<button>
		Terminé
	</button>


</div>

<!-- ////// RULES BOX ////// -->

<div class="home__container" v-show="screen == 'rules'">
	<h1 class="h1__title"> Les règles du Shiritori</h1>

	<div class="rules__textContent">

		<h2 class="h2__title">
			Le déroulement
		</h2>

		Ceci est la version française de Shiritori.
		<br><br>
		Le premier joueur se voit attribuer une lettre au hasard. Il doit alors trouver un mot commençant par cette lettre dans un temps donné.
		<br><br>
		Les joueurs jouent ainsi chacun leur tour en se voyant attribué comme première lettre la dernière lettre du mot de l'adversaire.
		<br><br>
		<h2 class="h2__title">
			Les conditions
		</h2>

		Chaque mot doit :
		<br><br>
		- Être présent dans le dictionnaire.
		<br>
		- Être composé d'un minimum de 4 lettres.
		<br>
		- Ne doit pas déjà avoir été utilisé par l'un des joueurs au cours de la partie.
		<br><br>
		<h2 class="h2__title">
				Les points
		</h2>

		Les joueurs gagnent plus de points pour des mots plus longs et des temps plus courts :
		<br><br>
		Points de longueur : Nombre de lettres composant le mot moins 4.
		<br>
		Points de vitesses : Nombre de secondes restantes

	</div>

		<button @click="screen = 'home'">
		Retour à l'accueil
	</button>

</div>

<!-- ////// Mode Solo ////// -->

</div>
