
<div class="game__container">
	<div class="game-score__container myScore">
		<p class="player winning losing notPlaying">Margaux</p>
		<p class="score winning losing notPlaying">74</p>
	</div>

	<div class="game-board">
		<div class="game-board__error">
			 <p class="game-board__error__alreadyWritten">
			 	Attention ! Ce mot à déjà été utilisé.
			 </p>
			 <p class="game-board__error__doesntExist">
			 	Attention ! Ce mot n'existe pas.
			 </p>
		 </div>
		 <div class="game-board__playBox">
			<div class="game-board__writtingBox">Fascination</div>
			<div class="game-board__timer"></div>
		</div>
		<div class="game-board__archive">
			<div class="game-board__previousWord__player">
				Attentif
			</div>
			<div class="game-board__previousWord__adversary">
				Drama
			</div>
			<div class="game-board__previousWord__player">
				Pied
			</div>
			<div class="game-board__previousWord__adversary">
				Handicap
			</div>
			<div class="game-board__previousWord__player">
				Attentif
			</div>
			<div class="game-board__previousWord__adversary">
				Drama
			</div>
			
		</div>
		<div class="game-board__abandon hvr-grow">Abandonner ?</div>

	</div>
	
	<div class="game-score__container adversaryScore">
		<p class="player winning losing notPlaying">Ordinateur</p>
		<p class="score winning losing notPlaying">60</p>
	</div>
</div>